#browse
  .dir-info
    if url_array
      .attr
        a(href="#", data-dir="#") root
      - each url, i in url_array
        .attr /
        .attr
          a(href="#", data-dir= i)= url
    else
      .attr /
  .button-wrapper.right
    .button.lookup.text(title="update database")
      i.fa.fa-refresh

  .clear
  hr
  .scrollable
    if dirs != []
      - each item in dirs
        .dir(data-directory= item.directory)
          .attr 
            a(href="#", data-dir= item.directory)
              i.fa.fa-folder-o  
          .attr= item.name
          .button-wrapper.right
            .append.button(title="add to current playlist")
              i.fa.fa-plus-square
            .load.button(title="replace current playlist")
              i.fa.fa-asterisk
    if files != []
      - each item in files
        .dir(data-directory= item.directory)
          .attr
            i.fa.fa-file-o  
          .attr
            span= item.name
          .button-wrapper.right
            .append.button(title="add to current playlist")
              i.fa.fa-plus-square-o