#browse
  input#save-playlist.long(type='filter',placeholder="filter")
  //.button-wrapper.right
  //  .save.button
  //    i.fa.fa-save
  .dir-info
    if url_array
      .attr /
      .attr
        a(href="#", data-dir="#") root
      - each url, i in url_array
        .attr /
        .attr
          a(href="#", data-dir= i)= url
    else
      .attr /

  .clear
  hr
  .scrollable
    if dirs != []
      - each item in dirs
        .dir
          .attr 
            i.fa.fa-folder-o  
          .attr
            a(href="#", data-dir= item.directory)= item.name
    if files != []
      - each item in files
        .dir
          .attr
            i.fa.fa-file-o  
          .attr
            a(href="#", data-dir= item.file)= item.name