#footer
  #albumart
  #currentsong-wrapper
    #currentsong

  #control-menu.control-menu
      .button-wrapper.left
        #previous.left.button(title="previous")
          i.fa.fa-step-backward
        #pause.left.button(title="pause")
          i.fa.fa-pause
        #play.left.button.active(title="play")
          i.fa.fa-play
        #stop.left.button(title="stop")
          i.fa.fa-stop
        #next.left.button(title="next")
          i.fa.fa-step-forward
  #seek-current.seek-time 00:00:00
  #seek-bar-container  
    #seek-bar
  #seek-songtime.seek-time 00:00:00

  #control-menu2.control-menu
      .button-wrapper.left
        #stream.left.button(title="stream")
          i.fa.fa-volume-up
        #random.left.button(title="random")
          i.fa.fa-random
        #repeat.left.button(title="repeat")
          i.fa.fa-repeat