#footer(ng-controller="PlayerController as playerCtrl")
  #albumart(albumart, artist="playerCtrl.currentsong.Artist", album="playerCtrl.currentsong.Album", size="2")
  #currentsong-wrapper
    #currentsong
      div {{playerCtrl.currentsong.Artist}}
      div {{playerCtrl.currentsong.Title}}
      div(class="muted") {{playerCtrl.currentsong.Album}}


  #control-menu.control-menu
    .button-wrapper.left
      #previous.left.button(title="previous", mpd, cmd="previous")
        i.fa.fa-step-backward
      #pause.left.button(title="pause",  mpd, cmd="pause", ng-class="{active: playerCtrl.status.state==='pause'}")
        i.fa.fa-pause
      #play.left.button(title="play",  mpd, cmd="play", ng-class="{active: playerCtrl.status.state==='play'}")
        i.fa.fa-play
      #stop.left.button(title="stop",  mpd, cmd="stop", ng-class="{active: playerCtrl.status.state==='stop'}")
        i.fa.fa-stop
      #next.left.button(title="next",  mpd, cmd="next")
        i.fa.fa-step-forward
  #seek-current.seek-time {{playerCtrl.elapsed | time}}
  #seek-bar-container
    #seek-bar(seekbar, currentsong="playerCtrl.currentsong", status="playerCtrl.status", elapsed="playerCtrl.elapsed")
  #seek-songtime.seek-time {{playerCtrl.currentsong.Time | time}}

  #control-menu2.control-menu
    .button-wrapper.left
      #stream.left.button(title="stream")
        i.fa.fa-volume-up
      #random.left.button(title="random",  mpd, cmd="toggleRandom", args="playerCtrl.status.random", ng-class="{active: playerCtrl.status.random==='1'}")
        i.fa.fa-random
      #repeat.left.button(title="repeat", mpd, cmd="toggleRepeat", args="playerCtrl.status.repeat", ng-class="{active: playerCtrl.status.repeat==='1'}")
        i.fa.fa-repeat