head

	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href="/bootstrap-3.2.0-dist/css/bootstrap.css")
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', type='text/css')
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat")

	script(src='/javascripts/jquery-2.1.1.js')
	script(src='/javascripts/angular.js')
	script(src='/bootstrap-3.2.0-dist/js/bootstrap.js')

	script(type="text/javascript").
		function post(path, params, method) {
			method = method || "post"; // Set method to post by default if not specified.

			// The rest of this code assumes you are not using a library.
			// It can be made less wordy if you use one.
			var form = document.createElement("form");
			form.setAttribute("method", method);
			form.setAttribute("action", path);

			for(var key in params) {
				if(params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("value", params[key]);
					hiddenField.setAttribute("name", key);

					form.appendChild(hiddenField);
				}
			}

			document.body.appendChild(form);
			form.submit();
		}
