doctype html

html(ng-app)
  include ./header.jade
  body
    
    .gray
      .container-fluid
        .row.clearfix
          #playlist-container
            #progress-bar
      nav.container-fluid
        ul.list-inline
          li.highlight
            | Playlist
          li 
            | Browse
          li 
            | Search

      block content