doctype html

html(ng-app)
	include ./header.jade
	body
		.container-fluid#head
			#serverinfocontainer.pull-right
				.btn-group.pull-right
					button.btn.btn-default.btn-sm <span class="glyphicon glyphicon-info-sign"></span>	
					button.btn.btn-default.btn-sm <span class="glyphicon glyphicon-wrench"></span>
					button.btn.btn-default.btn-sm <span class="glyphicon glyphicon-off"></span>
				.pull-right
					p#serverinfo connected to <strong>#{mpdhost}:#{mpdport}</strong> 
			img(src="images/logo.png").pull-left
		
		.container-fluid#controls
			.control#previous
				<span class="glyphicon glyphicon-backward"></span>
			.control#pause
				.control-highlight#pause-highlight
				<span class="glyphicon glyphicon-pause"></span>
			.control#play
				.control-highlight#play-highlight
				<span class="glyphicon glyphicon-play"></span>
			.control#stop
				.control-highlight#stop-highlight
				<span class="glyphicon glyphicon-stop"></span>
			.control#next
				<span class="glyphicon glyphicon-forward"></span>
			.control.space
			.control#random
				.control-highlight#random-highlight
				<span class="glyphicon glyphicon-random"></span>
			.control#repeat
				.control-highlight#repeat-highlight
				<span class="glyphicon glyphicon-repeat"></span>
			.control.space
			#currentsong
			.control#listen.pull-right
				<span class	="glyphicon glyphicon-volume-off"></span>
		
		.container-fluid
			.row.clearfix
				#progress-bar-container
					#progress-bar

		block content