#left
  header
    | ts
  nav
    .button-wrapper.left
      .button.text.queue(title="QUEUE", ng-class="{active: location=='queue'}" ng-click="setLocation('queue')")
        i.fa.fa-list
        //|  Queue
    .clear
    .button-wrapper.left
      .button.text.search(title="SEARCH", ng-class="{active: location=='search'}" ng-click="setLocation('search + {{searchUrlSuffix}}')")
        i.fa.fa-search
        //|  Search
    .clear
    .button-wrapper.left
      .button.text.playlists(title="PLAYLISTS", ng-class="{active: location=='playlists'}" ng-click="setLocation('playlists')")
        i.fa.fa-file-audio-o
        //|  Playlists
    .clear
    .button-wrapper.left
      .button.text.browse(title="BROWSE", ng-class="{active: location=='browse'}" ng-click="setLocation('browse')")
        i.fa.fa-folder-o
        //|  Browse
    .clear
    .sub
      .button-wrapper.left(title="SETTINGS")
        #settings.button.text
          i.fa.fa-cog
          //|  Settings
      .clear
      .button-wrapper.left(title="LOGOUT")
        #logout.button.text
          i.fa.fa-sign-out
          //|  Logout
      .clear
    .clear
