extends skeleton
block content
  input#mpd-host.form-control(type="text", placeholder="e.g. example.com", value="leukosia.eu") 
  input#mpd-port.form-control(type="text", placeholder="e.g. 6600", value="6603")
  input#mpd-password.form-control(type="password", placeholder="", value="diggur!")
  button#enter.btn.btn-primary.pull-right.col-md-12 start