doctype html
html(lang='en')

  include ./head.jade
  
  body
    header
            
    .login
      h1 turbosloth
      .row
        .col-xs-4.col-xs-offset-4
          form#login(action="/login", method="post")
            .form-group
              label(for="")  MPD
              input.form-control(name='mpd[host]', type="text", placeholder="mympdurl.com", value="") 
              input.form-control(name='mpd[port]', type="text", placeholder="6600", value="")
              input.form-control(name='mpd[password]', type="password", placeholder="mpd password", value="")
            .form-group  
              label(for="")  STREAM
              input.form-control(name='streamurl', type="text", placeholder="http://url.to.stream/from", value="")
            .form-group              
              button.btn.btn-block.btn-ok#enter(type='submit')
                |  S T A R T

    if config.appEnv === 'production'
      script(src='/dist/vendor.min.js', type='text/javascript')
    else
      script(src='/dist/vendor.min.js', type='text/javascript')



    // script for custom form posting
    script(type="text/javascript").
      
      $("#enter").on("click", function() {
        $('#login').submit();
      });