main
  #queue(ng-controller="QueueController as queueCtrl" ng-show="location==='queue'")
    queue-directive
  #search(ng-controller="SearchController as searchCtrl" ng-show="location==='search'")
    search-container-directive
    search-artist-details-directive
    search-request-directive
  #playlists(ng-controller="PlaylistsController" ng-show="location==='playlists'")
    playlists-directive
  #browse(ng-controller="BrowseController" ng-show="location==='browse'")
    browse-directive