main()
  #search(ng-controller="SearchController as searchCtrl" ng-include="'search/search.partial.html'")
  #queue(ng-controller="QueueController as queueCtrl" ng-include="'queue/queue.partial.html'" ng-show="location==='queue'")
  artist-directive(artistname="artistParams.artistname", ng-show="location==='artist'")
  album-directive(albumname="albumParams.albumname", artistname="albumParams.artistname", ng-show="location==='album'")
  #playlists(ng-controller="PlaylistController as playlistCtrl" ng-include="'playlists/playlists.partial.html'" ng-show="location==='playlists'")
  #browse(ng-controller="BrowseController as browseCtrl" ng-include="'browse/browse.partial.html'" ng-show="location==='browse'")
