main()
  #queue(ng-controller="QueueController as queueCtrl" ng-include="'queue/queue.partial.html'" ng-show="location==='queue'")
  #search(ng-controller="SearchController as searchCtrl" ng-include="'search/search.partial.html'" ng-show="location==='search'")
  #playlists(ng-controller="PlaylistsController" ng-show="location==='playlists'")
  #browse(ng-controller="BrowseController" ng-show="location==='browse'")