#manageplaylist
  input#save-playlist.long(type='text',placeholder="new playlist")
  .button-wrapper.right
    #save.button 
      i.fa.fa-save
  .clear
  hr
  - each playlist in playlists
    .song(data-name= playlist.playlist )
      = playlist.playlist
      span.muted
        |  (songs: 47, last modified: 10.10.2013)
      .button-wrapper.right
        #save.button 
          i.fa.fa-play-circle
        #save.button 
          i.fa.fa-plus-square-o
        //.space
        #save.button 
          i.fa.fa-remove