
#option-playlist-delete.options-box.question
  div sure to delete this playlist?
  hr
  .button-wrapper
    .button.text.ok
      i.fa.fa-check
      |  ok
    .button.text.cancel
      i.fa.fa-close
      |  cancel
      
#option-playlist-rename.options-box.question
  div rename playlist
  hr
  div
    input.playlist-rename(type='text', placeholder="name")
  .button-wrapper
    .button.text.ok
      i.fa.fa-check
      |  ok
    .button.text.cancel
      i.fa.fa-close
      |  cancel

#info-box.options-box
#error-box.options-box
