.panel.panel-default
	<!-- Default panel contents -->

	.panel-body
		#controls-playlist
			.control#refreshplaylist
				span.glyphicon.glyphicon-refresh
			.control#refreshplaylist
				span.glyphicon.glyphicon-hand-down
			.control.empty
			.control#saveplaylist
				span.glyphicon.glyphicon-floppy-save
			.control#saveplaylist
				span.glyphicon.glyphicon-floppy-open
		<!-- Table -->
		table.table 
			tr
				each column in columns
					th #{column}
			- each song in playlist
				tr			
					each column in columns
						td #{song[column]}  