#playlists
  input#save-playlist.long(type='text',placeholder="save as new playlist")
  i.fa.fa-save
  .clear
  hr.prime
  .scrollable
    - each playlist in playlists
      .item.leftclick(data-name= playlist.playlist)
        .attr= playlist.playlist
        span.muted
          .attr.right last modified: #{playlist.lastmodified}

  ///contextmenu
  .contextmenu.playlists
    .button-wrapper.left
      .button.left.text.add
        i.fa.fa-plus-square-o
        |  add to queue
    .clear
    .button-wrapper.left
      .button.left.text.load
        i.fa.fa-asterisk
        |  replace queue
    .clear
    hr
    .button-wrapper.left
      .button.left.text.delete
        i.fa.fa-remove
        |  delete

