#playlists
  input#save-playlist.long(type='text',placeholder="save as new playlist")
  i.fa.fa-save
  .clear
  hr
  .scrollable
    - each playlist in playlists
      .playlist(data-playlist= playlist.playlist )
        .attr= playlist.playlist
        .attr.space
        span.muted
          .attr
            | songs: --num--
          .attr.space
          .attr
            | last modified: --date--
        .button-wrapper.right
          .append.button(title="add to current playlist")
            i.fa.fa-plus-square-o
          .load.button(title="replace current playlist")
            i.fa.fa-asterisk
          //.space
          //.attr.space
          .delete.button
            i.fa.fa-remove
