.panel.panel-default
	<!-- Default panel contents -->

	.panel-body
		#controls-playlist
			.control#refreshplaylist
				span.glyphicon.glyphicon-refresh
			.control.empty
			.control#scrolltocurrentsong
				span.glyphicon.glyphicon-hand-down
			.control#scrolltotop
				span.glyphicon.glyphicon-hand-up
			.control#saveplaylist.pull-right
				span.glyphicon.glyphicon-trash
			.control.empty.pull-right
			.control#saveplaylist.pull-right
				span.glyphicon.glyphicon-folder-open
			.control#saveplaylist.pull-right
				span.glyphicon.glyphicon-floppy-disk
		<!-- Table -->
		#loading_content.loading
			.scrollable
				table.table
					tr
						each column in columns
							th #{column}
					- each song in playlist
						tr.playlistrow(id= 'playlistrow-' + song.Id)
							each column in columns
								td(class= column) #{song[column]}
		#loading.loading
			| *** loading ***