#search
  input.search-input.long(type='text',placeholder="search", value=search)
  i.fa.fa-search.input-fa
  .nav-main
    .button-wrapper.right
      .button.text.search-type(data-type = 'Artist', class= type === 'Artist' ? 'active' : "")
        |  Artist
      .button.text.search-type(data-type = 'Album', class= type === 'Album' ? 'active' : "")
        |  Album
      .button.text.search-type(data-type = 'Title', class= type === 'Title' ? 'active' : "")
        |  Title
      .button.text.search-type(data-type = 'Genre', class= type === 'Genre' ? 'active' : "")
        |  Genre
  .clear

  hr.prime
  .scrollable

