//-var protocol= "http"
//if secure
  //-var protocol= "https"

doctype html
html(lang='en')

  include ./head.jade
  if stream
    script(type="text/javascript").
      var stream = '#{stream}';
  else
    script(type="text/javascript").
      var stream = undefined;

  body
    #background-wrapper
      
      header
        h1 turbosloth
        #submenu
          .button-wrapper
            #settings.button.text
              i.fa.fa-cog
              |  Settings
            #logout.button.text
              i.fa.fa-sign-out
              |  Logout

        #info-wrapper
          #info
        
      #left
        nav
          .button-wrapper.left
            .button.text.queue.active
              i.fa.fa-list
              |  Queue
          .loading.queue.right
              i.fa.fa-spinner.fa-spin
          .clear
          .button-wrapper.left
            .button.text.playlists 
              i.fa.fa-file-audio-o
              |  Playlists
          .loading.playlists.right
              i.fa.fa-spinner.fa-spin 
          .clear
          .button-wrapper.left
            .button.text.browse
              i.fa.fa-folder-o
              |  Browse
          .loading.browse.right
              i.fa.fa-spinner.fa-spin
          .clear
          .button-wrapper.left
            .button.text.search
              i.fa.fa-search
              |  Search
          .loading.search.right
              i.fa.fa-spinner.fa-spin
          .clear

        #player-options.button-wrapper.left
          if !stream
            #stream.left.button.text.disabled(title="no streaming source")
              i.fa.fa-volume-up
          else
            #stream.left.button.text(title="streaming")
              i.fa.fa-volume-up

        #albumart

        #currentsong-wrapper
          #currentsong
            a(href="")
            br
 
        #control-menu.left
          .button-wrapper.left
            #previous.left.button(title="previous")
              i.fa.fa-backward
            #pause.left.button(title="pause")
              i.fa.fa-pause
            #play.left.button.active(title="play")
              i.fa.fa-play
            #stop.left.button(title="stop")
              i.fa.fa-stop
            #next.left.button(title="next")
              i.fa.fa-forward

        #seek-bar-container
          #seek-bar

      main
        block content

    #connection-info 
      | turbosloth v.0.1 | connected to #{mpdhost}:#{mpdport}
    audio(src= stream)

    include ./scripts.jade
    
