//if secure
  //-var protocol= "https"

doctype html
html(lang='en')
  include ./head.jade

  body(ng-app='app', keypress-events, ng-controller='MainController as mainCtrl', ng-view)
    include ./left.jade
    include ./main.jade
    //include ./options.jade
    include ./footer.jade
    //include ./info.jade
    loading

    audio(src= stream, preload='none')
    include ./scripts.jade
