//-var protocol= "http"
//if secure
  //-var protocol= "https"

doctype html
html(lang='en')

  include ./head.jade
  if stream
    script(type="text/javascript").
      var stream = '#{stream}';
  else
    script(type="text/javascript").
      var stream = undefined;

  body
    //#background-wrapper0
        
    #left
      header
        //.logo
        | turbosloth
      nav
        .button-wrapper.left
          .button.text.queue.active
            i.fa.fa-list
            |  Queue
        .clear
        .button-wrapper.left
          .button.text.search
            i.fa.fa-search
            |  Search
        .clear
        .button-wrapper.left
          .button.text.playlists 
            i.fa.fa-file-audio-o
            |  Playlists
        .clear
        .button-wrapper.left
          .button.text.browse
            i.fa.fa-folder-o
            |  Browse
        .clear
        .sub
          .button-wrapper.left
            #settings.button.text
              i.fa.fa-cog
              |  Settings
          .clear
          .button-wrapper.left
            #logout.button.text
              i.fa.fa-sign-out
              |  Logout
          .clear
        .clear

    main

    #options-queue.options-box
      .button-wrapper
        .button.text.playnext
          i.fa.fa-arrow-down
          |  play next
      .button-wrapper
        .button.text.addtoplaylist
          i.fa.fa-share
          |  add to playlist
      .button-wrapper
        .button.text.crop
          i.fa.fa-cut
          |  crop
        .button.text.remove
          i.fa.fa-remove
          |  remove
    #option-clearqueue.options-box.question
      div clear queue?
      hr
      .button-wrapper
        .button.text.ok
          i.fa.fa-check
          |  ok
        .button.text.cancel
          i.fa.fa-close
          |  cancel
    #option-save-playlist.options-box.question
      div save queue as new playlist
      hr
      div
        input#save-playlist(type='text', placeholder="name")
      .button-wrapper
        .button.text.ok
          i.fa.fa-check
          |  ok
        .button.text.cancel
          i.fa.fa-close
          |  cancel
    #playlist-selector.options-box.question.full-height
      div add selection to playlist
      hr
      .playlists
      hr
      .button-wrapper
        .button.text.cancel
          i.fa.fa-close
          |  cancel
    #option-playlist-delete.options-box.question
      div sure to delete this playlist?
      hr
      .button-wrapper
        .button.text.ok
          i.fa.fa-check
          |  ok
        .button.text.cancel
          i.fa.fa-close
          |  cancel
    #option-playlist-rename.options-box.question
      div rename playlist
      hr
      div
        input.playlist-rename(type='text', placeholder="name")
      .button-wrapper
        .button.text.ok
          i.fa.fa-check
          |  ok
        .button.text.cancel
          i.fa.fa-close
          |  cancel

    #info-box.options-box
    #error-box.options-box

  //footer
  #footer
    #albumart
    #currentsong-wrapper
      #currentsong

    #control-menu.control-menu
        .button-wrapper.left
          #previous.left.button(title="previous")
            i.fa.fa-step-backward
          #pause.left.button(title="pause")
            i.fa.fa-pause
          #play.left.button.active(title="play")
            i.fa.fa-play
          #stop.left.button(title="stop")
            i.fa.fa-stop
          #next.left.button(title="next")
            i.fa.fa-step-forward
    #seek-current.seek-time 00:00:00
    #seek-bar-container  
      #seek-bar
    #seek-songtime.seek-time 00:00:00

    #control-menu2.control-menu
        .button-wrapper.left
          #stream.left.button(title="stream")
            i.fa.fa-volume-up
          #random.left.button(title="random")
            i.fa.fa-random
          #repeat.left.button(title="repeat")
            i.fa.fa-repeat

  #info-wrapper
    #info

    //| turbosloth v.0.1 | connected to #{mpdhost}:#{mpdport}
  
  audio(src= stream, preload='none')

  include ./scripts.jade
  
