//if secure
  //-var protocol= "https"

doctype html
html(lang='en')
  include ./head.jade

  body(ng-app='app', keypress-events, ng-controller='MainController as mainCtrl')
    include ./left.jade
    include ./main.jade
    //include ./options.jade
    include ./footer.jade
    //include ./info.jade

    audio(src= stream, preload='none')
    include ./scripts.jade