extends layout

block content
	.container-fluid#main
	
	p.text-center.small
		| leukosia node v.0.1

	//javascript
	script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.0.6.js")
	script(type="text/javascript", src="javascripts/mpd.js")
	script(type="text/javascript", src="javascripts/client.js")