html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2b3d4f;
  font-size: 11px;
  background-color: #f9fafb;
}
h1 {
  margin: 0;
  padding: 0;
}
a {
  color: #e74d3c;
}
hr {
  border: none;
  background-color: rgba(43, 61, 79, 0.1);
  height: 1px;
  margin: 0;
}
hr.prime {
  background-color: #e74d3c;
}
.clear {
  clear: both;
}
.muted {
  color: rgba(43, 61, 79, 0.7);
}
.button-wrapper {
  height: 30px;
  min-width: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.button-wrapper.left {
  float: left;
}
.button-wrapper.right {
  float: right;
}
.button-wrapper .button {
  height: 30px;
  min-width: 30px;
  display: inline-block;
}
.button-wrapper .button.text {
  padding-left: 15px;
  padding-right: 15px;
}
.button-wrapper .button:hover {
  color: #e74d3c;
}
.button-wrapper .button.active {
  color: #e74d3c;
}
.button-wrapper .button.disabled {
  color: rgba(43, 61, 79, 0.7);
}
.button-wrapper .button.disabled:hover {
  cursor: default;
}
.loading {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
}
.loading.left {
  float: left;
}
.loading.right {
  float: right;
}
input,
select {
  display: inline-block;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #f9fafb;
  color: #2b3d4f;
  border: 1px solid rgba(43, 61, 79, 0.1);
  padding: 0 15px;
  margin-bottom: 5px;
}
input:focus,
select:focus {
  border: 1px solid #e74d3c;
  outline: 0;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  right: 0;
  left: 0;
  color: rgba(43, 61, 79, 0.7);
  border-top: 1px solid #e74d3c;
  text-align: center;
  line-height: 30px;
}
::-webkit-input-placeholder {
  color: rgba(43, 61, 79, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(43, 61, 79, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(43, 61, 79, 0.7);
}
:-ms-input-placeholder {
  color: rgba(43, 61, 79, 0.7);
}
::selection {
  background: #e74d3c;
  color: #fff;
}
::-moz-selection {
  background: #e74d3c;
  color: #fff;
}
.login {
  text-align: center;
}
.login h1 {
  font-family: 'Quicksand', Helvetica, Sans-Serif;
  font-weight: 300;
  font-size: 56px;
  text-align: center;
  padding: 40px 0;
  color: rgba(43, 61, 79, 0.7);
}
.login .form-wrapper {
  display: block;
  bottom: 5px;
}
.login .form-wrapper input {
  margin-left: 5px;
}
.login .button-wrapper {
  display: inline-block;
}
.login .long {
  width: 300px;
}
.login .extraLong {
  width: 365px;
}
.login .short {
  width: 50px;
}
header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(43, 61, 79, 0.1);
  color: #f9fafb;
  background-color: #2b3d4f;
}
header #info-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  height: 30px;
  text-align: center;
}
header #info-wrapper #info {
  position: relative;
  left: -50%;
  overflow: hidden;
  color: #bdc3c7;
  padding: 0 15px;
  border-bottom: 1px solid #bdc3c7;
}
header h1 {
  float: left;
  color: #f9fafb;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
}
header #submenu {
  float: right;
  line-height: 50px;
  margin-top: 10px;
}
#left {
  position: absolute;
  top: 50px;
  bottom: 30px;
  left: 30px;
  width: 200px;
  border-right: 1px solid #2b3d4f;
}
#left nav {
  padding: 15px 0;
}
#left #currentsong-wrapper {
  position: absolute;
  bottom: 255px;
  padding: 15px 0 15px 15px;
  border-left: 1px solid #e74d3c;
}
#left #albumart {
  position: absolute;
  bottom: 40px;
  height: 200px;
  width: 200px;
  background-color: #e74d3c;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px 200px;
}
#left #control-menu {
  position: absolute;
  bottom: 0;
  border-left: 1px solid rgba(43, 61, 79, 0.1);
}
#left #control-menu .button {
  width: 39px;
}
#left #seek-bar-container {
  position: absolute;
  bottom: 30px;
  height: 10px;
  width: 200px;
  cursor: pointer;
}
#left #seek-bar-container #seek-bar {
  height: 10px;
  width: 0%;
  background-color: #e74d3c;
}
main {
  position: absolute;
  top: 50px;
  bottom: 30px;
  left: 260px;
  right: 30px;
  margin: 15px 0 0;
}
main .item {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  border-bottom: 1px solid rgba(43, 61, 79, 0.1);
  padding-right: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
main .item.active {
  border-bottom: 1px solid #e74d3c;
}
main .item.selected {
  background-color: rgba(43, 61, 79, 0.05);
}
main .item .attr {
  height: 30px;
  display: inline-block;
  margin-left: 15px;
}
main .item .attr.left {
  float: left;
}
main .item .attr.right {
  float: right;
}
main .item .attr.space {
  height: 10px;
  margin-top: 10px;
  border-right: 1px solid rgba(43, 61, 79, 0.1);
}
main .item .attr.songpos.active {
  color: #e74d3c;
}
main .scrollable {
  overflow-y: scroll;
}
main .nav-main {
  height: 30px;
}
.contextmenu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid rgba(43, 61, 79, 0.1);
  background: #f9fafb;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #edf1f2;
}
::-webkit-scrollbar-thumb {
  background-color: #e74d3c;
}
#playlists input {
  width: 30%;
  margin: 0 15px 15px 0;
}
#playlists i.fa-save {
  position: relative;
  left: -40px;
}
#browse .breadcrumb {
  float: left;
  line-height: 30px;
}
#browse .breadcrumb .item {
  float: left;
}
#browse .item {
  cursor: pointer;
}
#browse .item:hover {
  color: #e74d3c;
}
#search input,
#search select {
  margin: 0 15px 15px 0;
}
#search input {
  float: left;
  width: 30%;
}
#search i.fa-search.input-fa {
  position: relative;
  left: -40px;
}
