html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #363c3d;
  font-size: 11px;
  background-color: #f9fafb;
}
h1 {
  margin: 0;
  padding: 0;
}
a {
  color: #e74d3c;
}
hr {
  border: none;
  background-color: rgba(54, 60, 61, 0.1);
  height: 1px;
  margin: 0;
}
hr.prime {
  background-color: #e74d3c;
}
.clear {
  clear: both;
}
.muted {
  color: rgba(54, 60, 61, 0.7);
}
.button-wrapper {
  height: 30px;
  min-width: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.button-wrapper.left {
  float: left;
}
.button-wrapper.right {
  float: right;
}
.button-wrapper .button {
  height: 30px;
  min-width: 30px;
  display: inline-block;
}
.button-wrapper .button.text {
  padding-left: 15px;
  padding-right: 15px;
}
.button-wrapper .button:hover {
  background-color: #95a6a7;
  color: #edf1f2;
}
.button-wrapper .button.active {
  background-color: #e74d3c;
  color: #edf1f2;
}
.button-wrapper .button.disabled {
  color: rgba(54, 60, 61, 0.7);
}
.button-wrapper .button.disabled:hover {
  cursor: default;
}
.loading {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
}
.loading.left {
  float: left;
}
.loading.right {
  float: right;
}
input,
select {
  display: inline-block;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #f9fafb;
  color: #363c3d;
  border: 1px solid rgba(54, 60, 61, 0.1);
  padding: 0 15px;
  margin-bottom: 5px;
}
input:focus,
select:focus {
  border: 1px solid #e74d3c;
  outline: 0;
}
#info-wrapper {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  background-color: #16a286;
  color: #edf1f2;
  padding: 15px;
  text-align: center;
}
::-webkit-input-placeholder {
  color: rgba(54, 60, 61, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(54, 60, 61, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(54, 60, 61, 0.7);
}
:-ms-input-placeholder {
  color: rgba(54, 60, 61, 0.7);
}
::selection {
  background: #e74d3c;
  color: #fff;
}
::-moz-selection {
  background: #e74d3c;
  color: #fff;
}
.login {
  text-align: center;
}
.login h1 {
  font-family: 'Quicksand', Helvetica, Sans-Serif;
  font-weight: 300;
  font-size: 56px;
  text-align: center;
  padding: 40px 0;
  color: rgba(54, 60, 61, 0.7);
}
.login .form-wrapper {
  display: block;
  bottom: 5px;
}
.login .form-wrapper input {
  margin-left: 5px;
}
.login .button-wrapper {
  display: inline-block;
}
.login .long {
  width: 300px;
}
.login .extraLong {
  width: 365px;
}
.login .short {
  width: 50px;
}
header {
  position: absolute;
  left: 0px;
  width: 150px;
  top: 0px;
  height: 100px;
  line-height: 100px;
  background-color: #7f8c8d;
  color: #f9fafb;
}
header h1 {
  text-align: center;
  color: #f9fafb;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
}
header #submenu {
  float: right;
  line-height: 100px;
  margin-top: 35px;
}
#left {
  position: absolute;
  top: 100px;
  bottom: 30px;
  left: 0;
  width: 150px;
  background-color: #7f8c8d;
  color: #edf1f2;
}
#left nav .button {
  width: 120px;
  padding: 0 15px;
  text-align: left;
}
main {
  position: absolute;
  top: 0;
  bottom: 75px;
  left: 155px;
  right: 5px;
  margin: 15px 0 0;
}
main .item {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  border-bottom: 1px solid rgba(54, 60, 61, 0.1);
  padding-right: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
main .item.active {
  border-bottom: 1px solid #e74d3c;
}
main .item.selected {
  background-color: rgba(54, 60, 61, 0.05);
}
main .item .attr {
  height: 30px;
  display: inline-block;
  margin-left: 15px;
}
main .item .attr.left {
  float: left;
}
main .item .attr.right {
  float: right;
}
main .item .attr.space {
  height: 10px;
  margin-top: 10px;
  border-right: 1px solid rgba(54, 60, 61, 0.1);
}
main .item .attr.songpos.active {
  color: #e74d3c;
}
main .scrollable {
  overflow-y: scroll;
}
main .nav-main {
  height: 30px;
}
.contextmenu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid rgba(54, 60, 61, 0.1);
  background: #f9fafb;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #edf1f2;
}
::-webkit-scrollbar-thumb {
  background-color: #e74d3c;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  right: 0;
  left: 0;
  color: #edf1f2;
  text-align: center;
  background: #4e5758;
  padding: 15px;
  overflow: hidden;
}
#footer #control-menu {
  line-height: 30px;
  position: absolute;
  left: 255px;
}
#footer #control-menu .button {
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 19px;
}
#footer #control-menu .button.active {
  color: #e74d3c;
  background-color: #4e5758;
}
#footer #control-menu .button:hover {
  background-color: #4e5758;
}
#footer #albumart {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 75px;
  background-color: #e74d3c;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75px 75px;
}
#footer #currentsong-wrapper {
  position: absolute;
  left: 75px;
  width: 180px;
  text-align: left;
  padding: 0 15px;
}
#footer #seek-current {
  position: absolute;
  bottom: 0;
  left: 490px;
  line-height: 75px;
  text-align: right;
}
#footer #seek-bar-container {
  position: absolute;
  bottom: 35px;
  height: 5px;
  left: 540px;
  right: 190px;
  cursor: pointer;
  background-color: #95a6a7;
}
#footer #seek-bar-container #seek-bar {
  height: 5px;
  width: 0;
  background-color: #e74d3c;
}
#footer #seek-songtime {
  position: absolute;
  bottom: 0;
  right: 135px;
  line-height: 75px;
  text-align: left;
}
#footer #control-menu2 {
  line-height: 30px;
  position: absolute;
  right: 0;
}
#footer #control-menu2 .button {
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 19px;
}
#footer #control-menu2 .button.active {
  color: #e74d3c;
  background-color: #4e5758;
}
#footer #control-menu2 .button:hover {
  background-color: #4e5758;
}
#playlists input {
  width: 30%;
  margin: 0 15px 15px 0;
}
#playlists i.fa-save {
  position: relative;
  left: -40px;
}
#browse .breadcrumb {
  float: left;
  line-height: 30px;
}
#browse .breadcrumb .item {
  float: left;
}
#browse .item {
  cursor: pointer;
}
#browse .item:hover {
  color: #e74d3c;
}
#search input,
#search select {
  margin: 0 15px 15px 0;
}
#search input {
  float: left;
  width: 30%;
}
#search i.fa-search.input-fa {
  position: relative;
  left: -40px;
}
