html,
body,
#background-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2b3d4f;
  font-size: 11px;
}
#background-wrapper {
  position: relative;
  background-color: #edf1f2;
}
#connection-info {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: #95a6a7;
}
h1 {
  margin: 0;
  padding: 0;
}
hr {
  border: none;
  background-color: #e74d3c;
  height: 1px;
  margin: 0;
}
.clear {
  clear: both;
}
.muted {
  color: #95a6a7;
}
.button-wrapper {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.button-wrapper.left {
  float: left;
}
.button-wrapper.right {
  float: right;
}
.loading {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
}
.loading.left {
  float: left;
}
.loading.right {
  float: right;
}
a {
  color: #e74d3c;
}
.button {
  height: buttonHeight;
  min-width: 30px;
  cursor: pointer;
  display: inline-block;
}
.button:hover {
  color: #e74d3c;
}
.button.active {
  color: #e74d3c;
}
.button.disabled {
  color: #95a6a7;
}
.button.disabled:hover {
  background: none;
  cursor: default;
}
.button.text {
  padding-left: 15px;
  padding-right: 15px;
}
input,
select {
  display: inline-block;
  background-color: #edf1f2;
  color: #2b3d4f;
  border: 1px solid #95a6a7;
  height: 30px;
  padding: 0 15px;
  margin-bottom: 5px;
}
input:focus,
select:focus {
  border: 1px solid #e74d3c;
}
::-webkit-input-placeholder {
  color: #95a6a7;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #95a6a7;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #95a6a7;
}
:-ms-input-placeholder {
  color: #95a6a7;
}
::selection {
  background: #e74d3c;
  color: #fff;
}
::-moz-selection {
  background: #e74d3c;
  color: #fff;
}
.login {
  text-align: center;
}
.login h1 {
  font-family: 'Quicksand', Helvetica, Sans-Serif;
  font-weight: 300;
  font-size: 56px;
  text-align: center;
  padding: 40px 0;
  color: #2b3d4f;
}
.login .form-wrapper {
  display: block;
  bottom: 5px;
}
.login .form-wrapper input {
  margin-left: 5px;
}
.login .button-wrapper {
  display: inline-block;
}
.login .long {
  width: 300px;
}
.login .extraLong {
  width: 365px;
}
.login .short {
  width: 50px;
}
header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  border-bottom: 1px solid #95a6a7;
  background-color: #edf1f2;
}
header h1 {
  color: #95a6a7;
  float: left;
  line-height: 50px;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 40px;
}
header #submenu {
  float: right;
  margin-top: 10px;
}
#left {
  position: absolute;
  top: 65px;
  bottom: 30px;
  left: 30px;
  width: 200px;
}
#control-menu {
  position: absolute;
  bottom: 10px;
}
#control-menu .button {
  width: 40px;
}
#currentsong-wrapper {
  position: absolute;
  bottom: 255px;
  left: 0;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 55px;
  border-left: 1px solid #95a6a7;
}
#albumart {
  position: absolute;
  bottom: 40px;
  height: 200px;
  width: 200px;
  background-color: #e74d3c;
}
#seek-bar-container {
  position: absolute;
  bottom: 0;
  width: 198px;
  cursor: pointer;
  border-left: 1px solid #95a6a7;
  border-right: 1px solid #95a6a7;
}
#seek-bar-container #seek-bar {
  height: 8px;
  width: 0%;
  background-color: #e74d3c;
}
main {
  position: absolute;
  top: 65px;
  bottom: 30px;
  left: 260px;
  right: 30px;
}
main .song,
main .dir,
main .playlist {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  border-bottom: 1px solid #95a6a7;
}
main .song .attr,
main .dir .attr,
main .playlist .attr {
  display: inline-block;
  margin-left: 15px;
}
main .song .attr.space,
main .dir .attr.space,
main .playlist .attr.space {
  height: 5px;
  margin-top: 12.5px -2;
  border-right: 1px solid #95a6a7;
}
main .song .attr.songpos.active,
main .dir .attr.songpos.active,
main .playlist .attr.songpos.active {
  color: #e74d3c;
}
main .song.active,
main .dir.active,
main .playlist.active {
  border-bottom: 1px solid #95a6a7;
}
.scrollable {
  overflow-y: scroll;
}
.nav-main {
  height: 30px;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #edf1f2;
}
::-webkit-scrollbar-thumb {
  background-color: #95a6a7;
}
#playlists input {
  width: 30%;
  margin: 15px 15px 15px 0;
}
#playlists i.fa-save {
  position: relative;
  left: -40px;
}
#playlists .scrollable {
  overflow-y: scroll;
}
#browse .dir-info {
  float: left;
  line-height: 30px;
}
#browse .attr {
  display: inline-block;
  margin-left: 15px;
}
#browse .attr.space {
  height: 15px;
  margin-top: 7.5px;
  border-right: 1px solid #95a6a7;
}
#search input,
#search select {
  margin: 15px 15px 15px 0;
}
#search input {
  float: left;
  width: 30%;
}
#search i.fa-search.input-fa {
  position: relative;
  left: -40px;
}
