<div id="options-queue" class="options-box">
  <div class="button-wrapper">
    <div ng-click="queueCtrl.select.playNext()" class="button text playnext">
      <i class="fa fa-arrow-down"></i>
      play next
    </div>
  </div>
  <div class="button-wrapper">
    <div ng-click="queueCtrl.dialogs.show('playlistselect')" class="button text addtoplaylist">
      <i class="fa fa-share"></i>
      add to playlist
    </div>
  </div>
  <div class="button-wrapper">
    <div ng-click="queueCtrl.select.crop()" class="button text crop">
      <i class="fa fa-cut"></i>
      crop
    </div>
    <div ng-click="queueCtrl.select.remove()" class="button text remove">
      <i class="fa fa-remove"></i>
      remove
    </div>
  </div>
</div>