<div id="playlist-selector" ng-show="queueCtrl.dialogs.id==='playlistselect'" 
      class="options-box question full-height">
  <div>add selection to playlist</div>
  <hr/>
  <div class="playlists">
    <div class="button-wrapper" ng-repeat="playlist in playlists">
      <div class="button text save" ng-click="addSelectionToPlaylist(playlist.playlist)">
        {{playlist.playlist}}
      </div>
    </div>
  </div>
  <hr/>
  <div class="button-wrapper">
    <div ng-click="queueCtrl.dialogs.hideAll()" class="button text cancel">
      <i class="fa fa-close"></i>
      cancel
    </div>
  </div>
</div>