
  <div class="nav-main">
    <div class="button-wrapper left">
      <div title="check all" ng-click="queueCtrl.select.batchSelect(true)" class="button selecthelper"><i class="fa fa-check-square-o"></i></div>
      <div title="uncheck all" ng-click="queueCtrl.select.batchSelect(false)" class="button selecthelper"><i class="fa fa-square-o"></i></div>
      <div title="find current song" ng-click="queueCtrl.scrollToCurrent()" class="button selecthelper"><i class="fa fa-music"></i></div>
    </div>

    <div class="button-wrapper right">
      <div title="sloth mode" ng-click="queueCtrl.dialogs.show('sloth')" class="button text sloth-mode"><i class="fa fa-rocket"></i> sloth mode</div>
      <div title="save queue as new playlist" ng-click="queueCtrl.dialogs.show('save')" class="button text save-playlist"><i class="fa fa-save"></i> save</div>
      <div title="shuffle queue" ng-click="queueCtrl.dialogs.show('shuffle')" class="button text shuffle"><i class="fa fa-random"></i> shuffle</div>
      <div title="clear queue" ng-click="queueCtrl.dialogs.show('clear')" class="button text clear"><i class="fa fa-eraser"></i> clear</div>
    </div>
  </div>

  <hr class="prime"/>

  <div class="clear"></div>
  <div class="scrollable">
    <div class="item muted" ng-hide="queueCtrl.queue.data.length>0">
      queue is empty
    </div>
    <div class="item" ng-repeat="song in queueCtrl.queue.data" 
          data-pos="song.Pos" data-id="song.Id" data-path="song.file"
          ng-dblclick="queueCtrl.playSong(song.Id)">
      <div class="attr selector" 
            ng-class="{active: song.selected}"
            ng-mousedown="queueCtrl.select.start(song.Pos, song.selected)" 
            ng-mouseup="queueCtrl.select.end(song.Pos)">
        <div class="inner">
          <i class="fa fa-check"></i>
        </div>
      </div>
      <div class="attr songpos">
        <div class="inner">
          <span class="muted">
            {{song.Pos + 1}}
          </span>
        </div>
      </div>
      <div class="attr artist">
        <div class="inner">
          <a href="#" data-artist="song.Artist">{{song.Artist}}</a>
        </div>
      </div>
      <div class="attr title">
        <div class="inner">
          {{song.Title}}
        </div>
      </div>
      <div class="attr track">
        <div class="inner">
          <span class="muted">
            {{song.Track}}
          </span>
        </div>
      </div>
      <div class="attr album">
        <div class="inner">
          <a href="#">{{song.Album}}</a>
          <span class="muted"> {{song.Date}}</span>
        </div>
      </div>
      <div class="attr genre">
        <div class="inner">
          <span class="muted">
            {{song.Genre}}
          </span>
        </div>
      </div>
      <div class="attr time">
        <div class="inner">
          <span class="muted">
            {{song.Time}}
          </span>
        </div>
      </div>
    </div>   
  </div>
  <!-- queue options dialog-->
  <queue-options-directive ng-show="queueCtrl.hasSelection()"></queue-options-directive>
  <!-- clear queue dialog-->
  <queue-save-directive ng-show="queueCtrl.dialogs.id==='save'"></queue-save-directive>
  <queue-shuffle-directive ng-show="queueCtrl.dialogs.id==='shuffle'"></queue-shuffle-directive>
  <queue-clear-directive ng-show="queueCtrl.dialogs.id==='clear'"></queue-clear-directive>
  <queue-playlist-select-directive ng-show="queueCtrl.dialogs.id==='playlistselect'"></queue-playlist-select-directive>