<div id="artistdetails">
  <div class="button-wrapper right">
    <div class="button text addall"><i class="fa fa-plus"></i> add all</div>
    <div class="button text playall"><i class="fa fa-play"></i> play all</div>
  </div>
  <div class="artist-name"></div>
  <hr class="prime"/>
  <div class="scrollable">
    <div class="artist-image"></div>
    <div class="artist-info">
      <div class="genre"></div>
      <div class="bio"></div>
    </div>
    <div class="clear"></div>
    <hr/>
    <div class="albums">
      <div class="head">no Albums in Database found</div>
      <div class="head">
        {{albums.length}}
      </div>
      <div class="album-container" ng-repeat="album in albums" data-name="{{album.name}}">
        <div class="album">
          {{album.name}} ({{album.songs.length}})
        </div>
      </div>
    </div>
    <hr/>
    <div class="albums-other">
      <div class="head">Top Albums</div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <hr class="prime"/>
    <div class="similar">
      <div class="button-wrapper right">
        <div class="button text addall"><i class="fa fa-plus"></i> add all</div>
        <div class="button text playall"><i class="fa fa-play"></i> play all</div>
      </div>
      <div class="head">Similar Artists</div>
      <div class="clear"></div>
    </div>
  </div>
</div>