<input id="search-input" type="text" placeholder="search" value="search" 
      ng-model="searchCtrl.search.name" ng-focus="searchCtrl.search.isFocused=true" 
      ng-blur="search.isFocused=false" class="long"/>
<i class="fa fa-search input-fa"></i>
<div class="nav-main">
  <div class="button-wrapper">
    <div class="button text search-type"
          ng-class="{active: searchCtrl.search.type==='Artist'}" 
          ng-click="searchCtrl.search.type='Artist'">
      Artist
    </div>
    <div class="button text search-type" 
          ng-class="{active: searchCtrl.search.type==='Album'}" 
          ng-click="searchCtrl.search.type='Album'">
      Album
    </div>
    <div class="button text search-type"
          ng-class="{active: searchCtrl.search.type==='Title'}" 
          ng-click="searchCtrl.search.type='Title'">
      Title
    </div>
    <div class="button text search-type"
          ng-class="{active: searchCtrl.search.type==='Genre'}" 
          ng-click="searchCtrl.search.type='Genre'">
      Genre
    </div>
  </div>
</div>
<div class="clear"></div>
<hr class="prime"/>