#artistdetails
  .scrollable()
    .artist-image(ng-style="{'background-image': 'url(' + artistinfo.imageurl + ')'}")
    .artist-name
      |  {{artistinfo.name}}
    .artist-info
      .artist-genre 
        span(ng-repeat='genre in artistinfo.tags.tag')
          |  {{genre.name}}{{{true: '', false: ', '}[$last]}}
      .artist-bio(ng-bind-html="artistinfo.bio.content | trustAsHtml")
    .clear
    hr
    .albums
      .album
      .head  
        |  {{artistDetailsCtrl.albums | objectlength}} Albums
        .button-wrapper.right
          .button.text.addall(ng-click="addAll()")
            i.fa.fa-plus
            |  add all
          .button.text.playall(ng-click="playAll()")
            i.fa.fa-play
            |  play all
      .clear
      album-directive(ng-repeat="(key, album) in joinedAlbums", album="album")
      .clear
    hr
    .similar
      .button-wrapper.right
        .button.text.addall
          i.fa.fa-plus
          |  add all
        .button.text.playall
          i.fa.fa-play
          |  play all
      .head 
        |  Similar Artists
      .clear
      artist-directive(ng-repeat="(key, artist) in similarArtists", artist="artist")
      .clear

