#albumdetails
  .scrollable
    .leftside
      .albumart(albumart, artist="album[0].Artist", album="album[0].Album", size="3")
    .rightside
      .header
        .album {{album[0].Album}}
        .artist {{album[0].Artist}}
        .releasedate {{album[0].Date}}
      .button-wrapper.left()
        .button.text.addall(title="add album to queue", ng-click="mainCtrl.cmd.addSongs(album)")
          i.fa.fa-plus
          |  add all
        .button.text.playall(title="play album and replace queue", ng-click="mainCtrl.cmd.playSongs(album)")
          i.fa.fa-play
          |  play all
      .clear
      .songs
        .song(ng-repeat="song in album")
          .button-wrapper.left
            .button.add(title="add to queue", ng-click="mainCtrl.cmd.addSongs(song)")
              i.fa.fa-plus
          .attr.muted.track {{song.Track}}
          .attr {{song.Title}}
          .attr.muted {{song.Time | time}}
          .clear
