body {  
	
}
a {
  color: #00B7FF;
}
#head {
	height: 60px;
	border-bottom: 1px solid #ddd; 
}
#serverinfo {
	margin:15px;
}
#controls {
	height: 40px;
}
#controls-playlist {
	height: 40px;
}
.control, #currentsong {
	height: 40px;
	float: left;
	display: inline-block;
	line-height: 40px;
	position: relative;
}
.control-highlight {
	display: none;
	float: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: 5px solid red;
}
.control {
	width:40px;
	text-align: center;
	cursor: pointer;
}
.bigger{
	font-size:130%;
}
#playlist-content {
	border: 1px solid #eee;
}
.highlight{
	color: red;
}
.playlist-row {
	border-bottom: 1px solid #eee;
	line-height: 25px;
}
.progress-bar {
   transition-duration: 3s;
}
#seekcur {
	height: 5px;
	width: 100%;
	margin-bottom: 30px;
	border-top: 1px solid #ddd;
	cursor: pointer;

}
#seekcur:hover {
	background-color: #eee;
}
#progress-bar {
	float: left;
	background-color: red;
	height: 5px;
	width:0px;
}
#loading {
	display: none
}
.scrollable {
	overflow-y: scroll;
}
.panel, .panel-body {
	padding-top: 0px !important;
}
.playbutton {
	cursor: pointer;
}

.scrollable::-webkit-scrollbar {
	width:5px;
	background-color:#fff;
}
.scrollable::-webkit-scrollbar-thumb {
	background-color: red;
}
