i.fa.fa-plus.add(ng-click="addAlbum(album.songs)")
i.fa.fa-play.play(ng-click="playAlbum(album.songs)")
.album
  span  {{album.name}} 
  span(class="muted", ng-show="album.songs")  ({{album.songs.length}})
  br