div add selection to playlist
  hr
  .playlists
    .button-wrapper(ng-repeat='playlist in playlists')
      .button.text.save(ng-click='addSelectionToPlaylist(playlist.playlist)')
        |  {{playlist.playlist}}
  hr
  .button-wrapper
    .button.text.cancel(ng-click='queueCtrl.dialogs.hideAll()')
      i.fa.fa-close
      |  cancel