div clear queue?
  hr
  .button-wrapper
    .button.text.ok(ng-click='queueCtrl.clear()')
      i.fa.fa-check
      |  ok
    .button.text.cancel(ng-click='queueCtrl.dialogs.hideAll()')
      i.fa.fa-close
      |  cancel