.button-wrapper
  .button.text.playnext(mpd, cmd="playNext", args="queueCtrl.selected")
    i.fa.fa-arrow-down
    |  play next
.button-wrapper
  .button.text.addtoplaylist(title='choose playlist...', ng-click="queueCtrl.dialogs.show('playlistselect')")
    i.fa.fa-share
    |  add to playlist
.button-wrapper
  .button.text.remove(mpd, cmd="removeFromQueue", args="queueCtrl.selected")
    i.fa.fa-remove
    |  remove