.button-wrapper
  .button.text.playnext(ng-click='queueCtrl.select.playNext()')
    i.fa.fa-arrow-down
    |  play next
.button-wrapper
  .button.text.addtoplaylist(ng-click="queueCtrl.dialogs.show('playlistselect')")
    i.fa.fa-share
    |  add to playlist
.button-wrapper
  .button.text.crop(ng-click='queueCtrl.select.crop()')
    i.fa.fa-cut
    |  crop
  .button.text.remove(ng-click='queueCtrl.select.remove()')
    i.fa.fa-remove
    |  remove