#browse {
    .breadcrumb {
        float:          left;
        line-height:    @buttonHeight;
        .item {
            float: left;
        }
      }
      .item {
        cursor:     pointer;
        &:hover {
          color:      @primary;
        }
    }
}

