#browse {
    .breadcrumb {
        float:          left;
        line-height:    @buttonHeight;
        .item {
            float: left;
        }
      }
      .item {
        cursor:     pointer;
        &:hover {
          color:      @primary;
        }
    }
    .nav-main {
      margin:   0 0 @medium 0;
    }
    .button {
        margin:             0 0 0 @short;
        background-color:   @background2;
        color:              @clouds;
        &:hover {
          background-color: @primary;
        }
        &.active {
            background-color: @primary;
            color: @clouds;
        }
    }
    .contextmenu {
    .button-wrapper {
      width:  100%;
      text-align:  left;
      .button {
        background-color: @background;
        color: @fontPrimary;
        margin: 0;
        //background: @background;
        width:  100%;
        &:hover {
          background-color: @primary;
          color:            @clouds;
        }   
      }
    }
  }
}

