#left {
	position: absolute;
	top: @headerHeight;
	bottom: @long;
	left: @long;
	width: @leftWidth;
}

#control-menu {
	position: 	absolute;
	bottom: 		@seekBarContainerHeight;
	left: 			(@leftWidth - @buttonHeight * 5) / 2;
}

#currentsong-wrapper {
	position:		absolute;
	bottom: 		@seekBarContainerHeight + @buttonHeight + @leftWidth + @medium;
	left: 		0;
	padding-left: 	@medium;
	padding-top:	@medium;
	height: 		@controlBarHeight - @medium * 3;
	border-left: 	@extraLightBorder;
	overflow-y:	hidden;
}

#albumart {
	position: absolute;
	bottom: @seekBarContainerHeight + @buttonHeight;
	height: @leftWidth;
	width: @leftWidth;
	background-color: @primary;
}

#seek-bar-container {
	position: absolute;
	bottom: 			0;
	width:				198px;
	//height: 		@seekBarContainerHeight;
	cursor: 			pointer;
	border:				@extraLightBorder;
	//border-bottom:		@extraLightBorder;
	&:hover {
		//border-top: 1px solid @transparentWhite;
		border: 1px solid @transparentWhite;
	}
	-webkit-transition: border 0.5s, -webkit-transform 0.5s;
    transition: border 0.5s, transform 0.5s;
	#seek-bar {
		height: @seekBarContainerHeight - 2;
		width: 0%;
		background-color: @transparentWhite2;
		//background-color: @primary;

	}
}
