#search {
  .results {
    padding: 0 @medium;
  }
  .fuzzy-container {
    width: 99%;
    margin: @medium 0 0 0;
  }
  .fuzzy-item {
    //background-color: @extraSubtle;
    border: 1px solid @subtle;
    margin: 0 0 @medium @medium;
    cursor: pointer;
    &:hover {
      border: 1px solid @primary;
    }

    .artist {
      padding: @short 0 0 @medium;
    }
    .songcount {
      padding: @short 0 0 @medium; 
    }
    .genres {
      padding: @short 0 0 @medium;
    }
    .albums {
      padding: @short 0 @medium @medium;
    }
  }
}