header {
	position:						absolute;
	left: 							0px;
	width: 							@leftWidth;
	top: 								0px;
	height:							@headerHeight;
	line-height: 				@headerHeight;
	//border-bottom: 			1px solid @subtle;
	background-color: 	@background2;
	color: 							@background;
	//background-color:		@background2;

	h1 {
		text-align:		center;
		color: 				@background; 
		font-family: 	'Quicksand', Helvetica, sans-serif;
		font-weight: 	300;
		font-size: 		20px;
	}

	#submenu {
		float: 					right;
		line-height: 		@headerHeight;
		margin-top: 	(@headerHeight - @buttonHeight) / 2;
	}
}
