#left {
	position: 	absolute;
	top: 				@headerHeight;
	bottom: 		@long;
	left: 			@long;
	width: 			@leftWidth;
	border-right:	1px solid @background2;

	nav {
			padding:			 	@medium 0;
			//border-bottom:	1px solid @background2;
	}
	
	
	#currentsong-wrapper {
		position:				absolute;
		bottom: 				@seekBarHeight + @buttonHeight + @leftWidth + @medium;
		//left: 					0;
		padding: 				@medium 0 @medium @medium;
		border-left: 		1px solid @primary;
		//min-height: 		@controlBarHeight - @medium * 3;
		//overflow-y:		hidden;
	}
	
	#albumart {
		position: 				absolute;
		bottom: 					@seekBarHeight + @buttonHeight;
		height: 					@leftWidth;
		width: 						@leftWidth;      
		background-color: @primary;
		background-repeat:no-repeat;
    background-position: center center;
    background-size: 200px 200px;
	}
	
	#control-menu {
		position: 			absolute;
		bottom: 				0;
		border-left: 		1px solid @subtle;
		.button {
			width:				@leftWidth / 5 - 1;
		}
	}
	
	#seek-bar-container {
		position: 			absolute;
		bottom: 				@buttonHeight;
		height:					@seekBarHeight;
		width:					@leftWidth;
		cursor: 				pointer;
		//border-left: 		1px solid @subtle;
		#seek-bar {
			height:	 						@seekBarHeight;
			width: 							0%;
			background-color: 	@primary;
		}
	}
}
