#left {
	position: 	absolute;
	top: 		@headerHeight;
	bottom: 	@long;
	left: 		@long;
	width: 		@leftWidth;
}

#control-menu {
	position: 		absolute;
	bottom: 		@seekBarContainerHeight;
	.button {
		width:		@leftWifth / 5;
		font-size:	@biggerFont;
	}
}

#currentsong-wrapper {
	position:		absolute;
	bottom: 		@seekBarContainerHeight + @buttonHeight + @leftWidth + @medium;
	left: 			0;
	padding-left: 		@medium;
	padding-top:		@medium;
	main-height: 		@controlBarHeight - @medium * 3;
	border-left: 		@extraLightBorder;
	//overflow-y:		hidden;
}

#albumart {
	position: 		absolute;
	bottom: 		@seekBarContainerHeight + @buttonHeight;
	height: 		@leftWidth;
	width: 			@leftWidth;
	background-color: 	@primary;
}

#seek-bar-container {
	position: absolute;
	bottom: 			0;
	width:				@leftWidth -2;
	cursor: 			pointer;
	border:				@extraLightBorder;
	
	#seek-bar {
		height	 		@seekBarContainerHeight - 2;
		width: 			0%;
		background-color: 	@transparentWhite2;
	}
	
	&:hover {
		border: 	1px solid @transparentWhite;
	}
	
	-webkit-transition: 	border 0.5s, -webkit-transform 0.5s;
    	transition: border 0.5s, transform 0.5s;
}
