.login {
  text-align: center;
  h1 {
    font-family: 'Quicksand', Helvetica, Sans-Serif;
    font-weight: 300;
    font-size: 56px;
    text-align: center;
    padding: @medium 0;
    color: @muted;
  }
  .form-wrapper {
    display: block;
    bottom: @short;
    input {
      margin-left: @short;
    }
  }
  .button-wrapper {
    display: inline-block;
  }
}

