.login {
  text-align: center;
  height: 100%;
  background-color: darken(@background2, 30%);
  h1 {
    font-family: 'Quicksand', Helvetica, Sans-Serif;
    font-weight: 300;
    font-size: 56px;
    text-align: center;
    color: @muted;
  }
}