main {
  position:         absolute;
  top:              @headerHeight;
  bottom:           @long;
  left:             @leftWidth + (@long * 2);
  right:            @long;
  padding-top:			@medium;
	.song, .dir, .playlist {
  	height: 	      @buttonHeight;
  	line-height: 	  @buttonHeight;
  	overflow: 	    hidden;
  	border-bottom: 	1px solid @subtle;
  	.attr {
  		display: 	inline-block;
  		margin-left: 	@medium;
  		&.space {
  			height: 	@medium;
  			margin-top: 	(@buttonHeight / 2) - (@short / 2) - 2;
  			border-right: 	1px solid @subtle;
  		}
  		&.songpos.active {
  			color: @primary;
  		}
  	}
  	&.active {
  		border-bottom: 1px solid @primary;
  		//border-bottom: 1px solid @primary;
  		//background-color: @hoverBackground;
  	}
  }
  
	.scrollable {
	  overflow-y: scroll; 
	}

	.nav-main {
		height: @buttonHeight;
		//border-bottom: @lightBorder;
	}
}

//pseudo classes for scrollbar
::-webkit-scrollbar {
	width:	@short;
	background-color: @clouds;
}
::-webkit-scrollbar-thumb {
	background-color: @concrete;
}

