main {
  //background-color: hsl(60,0%,3%);
	.Container;
	top: 				@headerHeight + @controlBarHeight + @seekBarContainerHeight + @navHeight + @long;
	bottom: 			@long;
	//background-color: @transparentGray;
}
.nav-main {
	height: @buttonHeight;
	border-bottom: @lightBorder;
}