#playlists {
  .nav-main {
    margin:   0 0 @medium 0;
    float: right;
    .button {
      margin:             0 0 0 @short;
    }
  }
  .playlist {
    margin: @medium;
    padding: @short @medium;
    border: 1px solid @subtle;
    .playlistname {
      margin-bottom: @short;
    }
    &:hover {
      cursor: pointer;
      border: 1px solid @primary;
    }
  }

  .cover {
    display: none;
    position: absolute;
    top: 0 - @medium;
    bottom: 0;
    left: 0 - @short;
    right: 0 - @short;
    background-color: @transDark;
    color: @clouds;
    overflow-y: auto;
    .options {
      margin: @medium;
      .button {
        margin-left: @short;
      }
    }
    .playlist-container {
      .leftside {
        padding: @long;
        width: 40%;
        float: left;
        .album-art {
          float: right;
          height: 300px;
          width: 300px;
        }
      }
      .rightside {
        padding: @long 0;
        overflow: hidden;
        float: left;
        .header {
          padding: @medium 0;
          .album {
            font-weight: bold;
          }
        }
        .button-wrapper {
          .button {
            margin: 0 @short 0 0;
            color: @clouds;
          }
        }
        .songs {
          margin-top: @medium;
          .song {
            margin-top: 0;
            line-height: @buttonHeight;
            .button {
              border: none;
              &:hover {
                background: none;
                color: @primary;
              }
              &.remove {
                margin-left: @medium;
                color: @alizarin;
              }
            }
            .attr {
              float: left;
              padding: 0 0 0 @medium;
              &.track {
                text-align: right;
                width: @long;
                padding: 0;
              }
              &.muted {
                color: @concrete;
              }
            }
          }
        }
      }
    }
  }
}

