#playlists {
  input {
    width: 30%;
    margin: @medium @medium @medium 0;
  }
  i.fa-save {
    position:relative;
    left:-40px;
  }
  .playlist {
    height: @buttonHeight;
    line-height: @buttonHeight;
    border-bottom: @extraLightBorder;
    .attr {
      display: inline-block;
      margin-left: @medium;
      &.space {
        height: @medium;
        margin-top: @buttonHeight / 2 - @medium / 2;
        border-right: @extraLightBorder;
      }
    }
  }
  .scrollable {
    overflow-y: scroll;
  }   
}
