#queue {
	.nav-main {
		margin:		0 0 @medium 0;
	
		.button {
			margin:    0 0 0 @short;
	  }		
	}
	.attr.songpos {
		text-align: right;
		width: 2%;
		min-width:	10px;
	}
	.attr.artist {
		text-align: left;
		width: 21%;
		min-width:	40px;
	}
	.attr.title {
		text-align: left;
		width: 21%;
		min-width:	40px;
	}
	.attr.album {
		text-align: left;
		width: 23%;
		min-width:	40px;
	}
	.attr.track {
		text-align: right;
		width: 3%;
		min-width:	20px;
	}
	.attr.genre {
		text-align: left;
		width: 10%;
		min-width:	30px;
	}
	.attr.date {
		text-align: right;
		width: 6%;
		min-width:	20px;
	}
}