#queue {
	.nav-main {
		margin:		0 0 @medium 0;
	
		.button {
			margin:    0 0 0 @short;
	  }		
		.selecthelper {
			border: none;
			margin: 0;
			&:hover {
				color: @primary;
				background: none;
			}
		}
	}
	.item {
		&:hover {
			background-color: @extraSubtle;
		}
		&.active {
			color: @primary;
		}
	}
	.attr.selector {
		color: @subtle;
		width: 2%;
		min-width:	20px;
		&.active {
			color: @primary;
		}
	}
	.attr.songpos {
		text-align: right;
		width: 2%;
		min-width:	10px;
	}
	.attr.artist {
		text-align: left;
		width: 22%;
		min-width:	40px;
	}
	.attr.title {
		text-align: left;
		width: 26%;
		min-width:	40px;
	}
	.attr.track {
		text-align: right;
		width: 3%;
		min-width:	10px;
	}
	.attr.album {
		text-align: left;
		width: 23%;
		min-width:	40px;
	}
	.attr.genre {
		text-align: left;
		width: 15%;
		min-width:	30px;
	}
	.attr.date {
		text-align: right;
		width: 3%;
		min-width:	20px;
	}
}