#search {
    input, select {
        margin:     0 @medium @medium 0;
    }
    
    input {
        float:      left;
        width:      30%;
    }
    
    i.fa-search.input-fa {
        position:   relative;
        left:       -40px;
        line-height:  @buttonHeight;
    }
    .nav-main {
      margin:   0 0 @medium 0;
      float: right;
      .button {
          margin:             0 0 0 @short;
          &.active {
              background-color: @primary;
              color: @clouds;
          }
      }
    }
}

