html, body {
	height: 						100%;
	width: 							100%;
	padding:						0;
	margin:							0;
	font-family:				'Open Sans', sans-serif;
	font-weight:				400;
	color:							@fontPrimary;
	font-size: 					@fontSize;
	background-color: 	@background;
	overflow:						hidden;

	// background patterns are taken from subtlepatterns.com. thank you!
	//background: 	url("@{images}/congruent_outline.png");
	//background: 	url("@{images}/classy_fabric.png");
	//background: 	url("@{images}/grey_wash_wall.png");
	//background: 	url("@{images}/assault.png");
	//background: 	url("@{images}/binding_dark.png");
	//background: 	url("@{images}/black_lozenge.png");
	//background: 	url("@{images}/noisy_net.png");
	//background: 	url("@{images}/stardust.png");
	//background: 	url("@{images}/stressed_linen.png");
	//background: 	url("@{images}/subtle_carbon.png");
	//background: 	url("@{images}/twinkle_twinkle.png");
	//background: 	url("@{images}/zwartevilt.png");
	
}

a {
	color: @primary;
	&:hover {
		color: darken(@primary, 6.5%);
	}
}

.clear {
	clear: both;
}

.muted {
	color: 			lighten(@fontPrimary, 20%);
  &.inverse {
    color:      darken(@clouds, 20%);
  }
}


loading {
	background-color: @transDark;
	display: none;
}


a, button {
	&.btn-default {
  	background-color: transparent;
  	color: @clouds;
  	border: none;
  	&:hover {
  		background-color: transparent;
  		color: darken(@clouds,15%);
  		
  	}
  	&:focus {
  		background-color: transparent;
  		outline: 0;
  		color: @clouds;
  	}
  	&.active {
  		background-color: transparent;
  		color: @primary;
  		box-shadow: none;
  		-webkit-box-shadow: none;
  		&:focus {
  			background-color: transparent;
  			outline: 0;
  			color: @primary;
  		}
  	}
  }
  &.btn-ok {
		background-color: @primary;
		color: @clouds;
		border: none;
		&:hover {
			background-color: darken(@primary, 6.5%);
			color: @clouds;
			border: none;
		}
		&:focus {
  		background-color: @primary;
			color: @clouds;
  		outline: 0;
  	}
	}
	&.btn-warning {
		background-color: @alizarin;
		color: @clouds;
		border: none;
		&:hover {
			background-color: darken(@alizarin, 6.5%);
			color: @clouds;
			border: none;
		}
		&:focus {
  		background-color: @alizarin;
			color: @clouds;
  		outline: 0;
  	}
	}
	&.btn-minimal {
		background-color: @concrete;
		border: none;
		color: @clouds;
		&:hover {
			background-color: darken(@concrete, 6.5%);
			border: none;
			color: @clouds;
		}
		&:focus {
  		background-color: @concrete;
			color: @clouds;
  		outline: 0;
  	}
	}
}

.short-left {
	margin-left: @medium;
}
.short-right {
	margin-right: @medium;
}



//pseudo-classes
::-webkit-input-placeholder {
   color: @muted;
}
:-moz-placeholder { /* Firefox 18- */
   color: @muted;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: @muted;  
}
:-ms-input-placeholder {  
   color: @muted;  
}


::selection { 
	background: @primary; 
	color: 		#fff; 
}
::-moz-selection { 
	background: @primary; 
	color: 		#fff; 
}



