.error(ng-show='searchCtrl.searchRequest.error')  
  |  {{searchCtrl.searchRequest.error}}
.artist(ng-repeat='artist in searchCtrl.searchRequest.results', ng-class='{active:searchCtrl.searchRequest.selected===$index}',
ng-mouseenter='searchCtrl.searchRequest.select($index)', ng-click='searchCtrl.processResults()')
  .name  {{artist.name}}
  .genre.muted
    span(ng-repeat='genre in artist.genres')
      |  {{genre}}{{{true: '', false: ', '}[$last]}}
  .muted {{artist.songcount}} song
    span(ng-show="artist.songcount>1") s
    span  in Database
