#search-header(ng-include="'search/request/header.partial.html'")
//hr.prime
search-artist-directive(artist="searchCtrl.displayDetails.artist.name", ng-show="searchCtrl.displayDetails.type==='artist'")
search-album-directive(album="searchCtrl.displayDetails.album.name", artist="searchCtrl.displayDetails.album.artist", ng-show="searchCtrl.displayDetails.type==='album'")
#album-details(ng-include="'search/album/search.album.partial.html'")
#search-results(ng-include="'search/request/results.partial.html'", ng-show='searchCtrl.search.name.length > 0 && searchCtrl.search.isFocused === true')
