#search-header(ng-include="'search/request/header.partial.html'")
hr.prime
//#artist-details(ng-include="'search/artist/search.artist.partial.html'")
search-artist-directive(artist="searchCtrl.artist", ng-show="searchCtrl.mode==='artist'")
#album-details(ng-include="'search/album/search.album.partial.html'")
#search-results(ng-include="'search/request/results.partial.html'", ng-show='searchCtrl.search.name.length > 0 && searchCtrl.search.isFocused === true')