#search-header(ng-include="'search/request/header.partial.html'")
hr.prime
#search-results(ng-include="'search/request/results.partial.html'", ng-show="searchCtrl.searchRequest.name.length > 0 && searchCtrl.searchRequest.isFocused")
