#search-header(ng-include="'search/header.partial.html'")
#search-results(ng-include="'search/results.partial.html'", ng-show="searchCtrl.searchRequest.name.length > 0 && searchCtrl.searchRequest.isFocused")
