#album
  .scrollable
    .container-fluid
      .row(ng-if="loading")
        .col-xs-12
          | loading...
      .row(ng-if="!loading")
        .col-sm-3.col-sm-offset-2.col-xs-12
          img.img-responsive(albumart, artist="album[0].Artist", album="album[0].Album", size="3")
        .col-sm-7.col-xs-12
          .btn-group.btn-group-lg.pull-right
            button.btn.btn-ok.dark.dropdown-toggle(type="button", 
            data-toggle="dropdown", aria-expanded="false")
              i.fa.fa-cog
              //| Options  
            ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
              li
                a(ng-href="", mpd, cmd="addSongsToQueue", args="album") add album to queue
              li.divider
              li
                a(ng-href="", mpd, cmd="playSongs", args="album") replace queue with album
          h3 {{album[0].Album}}
          h4 by 
            a(ng-href="/#/artist/{{album[0].Artist}}")
              | {{album[0].Artist}}
          h5.muted {{album[0].Date}}
          .song(ng-repeat="song in album")
            .row
              .col-xs-1
                .btn-group.btn-group-xs
                    button.btn.btn-default.dark.dropdown-toggle(type="button", 
                    data-toggle="dropdown", aria-expanded="false")
                      i.fa.fa-caret-down
                      //| Options  
                    ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                      li
                        a(ng-href="", mpd, cmd="addSongsToQueue", args="song")
                          |  add to queue
              .col-xs-1
                span.muted {{song.Track}}
              .col-xs-6
                span {{song.Title}}
              .col-xs-4
                span.muted {{song.Time | time}}
            
              
            
